.app {
  display: flex;
  flex-direction: column;
  padding-block-start: 4.1rem;
  min-height: 100vh;

  @media screen and (min-width: 1025px) {
    padding-inline-start: 13.9rem;
    transition: padding-inline-start var(--transition-avg);

    &:has(.side-nav[aria-expanded="false"]) {
      padding-inline-start: 1.3rem;
    }
  }
}

main {
  flex: 1;
  display: flex;
  position: relative;
}

/* main {
  display: flex;

  & > :nth-child(1) {
    flex-shrink: 0;
  }
  & > :nth-child(2) {
    flex: 1;
  }
} */
