.form-input-container {
  text-align: left;
}

.form-input {
  outline: 1px solid var(--border);
  border-radius: 0.2rem;
  width: max-content;
  font-size: 1rem;
  color: var(--border);
  width: 100%;
  position: relative;

  label {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    font-size: 1em;
    cursor: text;
    transform: translateY(-50%);
    transition:
      font-size var(--transition-fast),
      top var(--transition-fast),
      left var(--transition-fast);
  }

  textarea {
    border: none;
    outline: none;
    font-size: 1em;
    width: 100%;
    height: 8rem;
    padding: 0.5rem 0.75rem;
    font: inherit;
    resize: none;
  }

  textarea::placeholder {
    color: var(--border);
  }
}

.form-input:focus-within {
  color: var(--accent-1);
  outline-color: var(--accent-1-border);
  outline-width: 2px;
}

.form-input.warning {
  color: var(--warning);
  outline-color: var(--warning-border);
}

.form-input:focus-within label,
.with-input label {
  position: absolute;
  top: 0;
  left: 0.7rem;
  transform: translateY(-50%);
  background-color: white;
  line-height: 0.75rem;
  font-size: 0.7rem;
}

.warning-message {
  display: none;
  color: var(--warning);
  margin-block-start: 0.25rem;
}

.warning ~ .warning-message {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
