.btn-avatar {
  border: none;
  border-radius: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;

  outline-width: 3px;
  outline-style: solid;
  outline-color: transparent;
  transition: outline-color var(--transition-fast);
  img {
    width: 100%;
    user-select: none;
  }
}

.btn-avatar.active {
  outline-color: var(--accent-1);
}

.btn-avatar:hover {
  outline-color: var(--accent-1);
}
