.icon-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.1rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  position: relative;

  svg {
    position: absolute;
    width: 60%;
  }

  &.ok {
    background-color: var(--ok);
  }
  &.warning {
    background-color: var(--warning);
  }

  &.close {
    justify-self: end;
    cursor: pointer;

    svg {
      width: 100%;
    }

    path {
      fill: var(--close);
      transition: fill var(--transition-fast);
    }

    &.close:hover path {
      fill: var(--close-hover);
    }
  }
}
