.form-group {
  display: none;

  &.active {
    display: grid;
  }
}

.form-content {
  position: relative;
  overflow: hidden;
  padding: 0.25rem;
}

.group-avatar {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
  max-width: 20rem;
  justify-content: center;
}

.form-group {
  gap: 1rem;
}
