*:has(.pop-menu) {
  position: relative;
}

.pop-menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: var(--bg);
  box-shadow: var(--shadow);
  flex-direction: column;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  overflow: hidden;
  animation: pop-open var(--transition-fast) linear;

  &[aria-expanded="true"] {
    display: flex;
  }

  & button {
    border: none;
    background-color: transparent;
    padding: 0.15rem 0.75rem;
  }

  & button:hover {
    background-color: var(--border);
  }
}

.slide-out-toLeft-abs {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  animation: slide-out-toLeft var(--transition-avg) forwards;
}

.slide-out-toRight-abs {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 100%;
  animation: slide-out-toRight var(--transition-avg) forwards;
}

.slide-out-toLeft {
  animation: slide-out-toLeft var(--transition-avg) forwards;
}

.slide-out-toRight {
  animation: slide-out-toRight var(--transition-avg) forwards;
}

.slide-in-fromLeft {
  animation: slide-in-fromLeft var(--transition-avg) forwards;
}

.slide-in-fromRight {
  animation: slide-in-fromRight var(--transition-avg) forwards;
}

/* Keyframes */
@keyframes slide-out-toLeft {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slide-out-toRight {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slide-in-fromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-in-fromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes pop-open {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pop-close {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.7);
    opacity: 0;
  }
}
