.slide-out-toLeft-abs {
  position: absolute;
  animation: slide-out-toLeft var(--transition-avg) forwards;
}

.slide-out-toRight-abs {
  position: absolute;
  animation: slide-out-toRight var(--transition-avg) forwards;
}

.slide-out-toLeft {
  animation: slide-out-toLeft var(--transition-avg) forwards;
}

.slide-out-toRight {
  animation: slide-out-toRight var(--transition-avg) forwards;
}

.slide-in-fromLeft {
  animation: slide-in-fromLeft var(--transition-avg) forwards;
}

.slide-in-fromRight {
  animation: slide-in-fromRight var(--transition-avg) forwards;
}

/* Keyframes */
@keyframes slide-out-toLeft {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slide-out-toRight {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slide-in-fromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-in-fromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
