main {
  display: flex;

  & > :nth-child(1) {
    flex-shrink: 0;
  }
  & > :nth-child(2) {
    flex: 1;
  }
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--border);
  width: 100%;
  background-color: var(--bg);

  & > *:first-child {
    flex: 0;
  }
  & > *:nth-child(2) {
    flex: 1;
  }
  & > *:last-child {
    flex-shrink: 0;
  }
}

.page-logo {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--accent-1);
}
