.dialog-form {
  margin: auto;

  border: none;
  border-radius: 1rem;
  box-shadow: var(--shadow);

  form {
    display: grid;
    gap: 0.5rem;
    padding: 1.75rem;
  }

  .form-controls {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-block-start: 0.75rem;
    font-size: 0.9rem;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.35);
  }
}
